@import url(./reset.css);

header {
  background-image: url("../image/bg-header.png");
  background-size: cover;
  background-position: 70% 30%;
  background-repeat: no-repeat;

  height: 500px;
  padding: 70px 24px;
  display: flex;
  flex-direction: column;
  align-items: center; /* ← ALINHA À ESQUERDA */
  position: relative;
}

header h1 {
  position: absolute;
  left: 16px;
  margin-bottom: 24px;
  text-transform: uppercase;
  max-width: 250px;
  font-size: 2rem;
  font-family: "Luckiest Guy", sans-serif;
  color: var(--white);
}

header p {
  margin-top: 70px;
  max-width: 700px;
  color: var(--white);
  font-weight: 400;
}
.bt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bt-container button {
  width: 380px;
  border-radius: 50px;
  margin-top: 16px;
}

.bt-windows {
  padding: 16px;
  background-color: var(--white);
  color: var(--gray);
}
.bt-navegador {
  padding: 16px;
  background-color: var(--gray);
  color: var(--white);
}

.study-content {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.study-content img {
  max-width: 610px;
  width: 100%;
}
.study-content h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

.study-content p {
  font-weight: 400;
  color: var(--gray);
  margin-top: 27px;
}

.just-chillin {
  background-color: var(--light-gray);
}
.just-chillin-content {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.just-chillin-content img {
  max-width: 610px;
  width: 100%;
}
.just-chillin-content h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

.just-chillin-content p {
  font-weight: 400;
  color: var(--gray);
  margin-top: 27px;
}

.member-content {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.member-content img {
  max-width: 610px;
  width: 100%;
}
.member-content h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

.member-content p {
  font-weight: 400;
  color: var(--gray);
  margin-top: 27px;
}

.tec {
  background-color: var(--light-gray);
}

.tec-content {
  padding: 40px 16px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
.tec-content img {
  max-width: 784px;
  width: 100%;
}
.tec-content h1 {
  font-family: "Luckiest Guy", sans-serif;
  max-width: 300px;
  font-size: 1.5rem;
  font-weight: 800;
}

.tec-content p {
  font-weight: 400;
  color: var(--gray);
  margin-top: 27px;
  max-width: 800px;
  text-align: center;
}

@media (min-width: 700px) {
  header {
    height: 430px;
  }
  header h1 {
    position: relative;
    max-width: 300;
  }
  header p {
    margin-top: 0;
    text-align: center;
  }
  .bt-container {
    flex-direction: row;
    gap: 16px;
    width: 500px;
  }
}

@media (min-width: 850px) {
  .study-content h1,
  .member-content h1,
  .just-chillin-content h1,
  .tec-content h1 {
    font-size: 2.5rem;
  }
  .section-study,
  .just-chillin-content,
  .member,
  .tec-content {
    max-width: 970px;
    margin: 0 auto;
  }
  .tec-content {
    align-items: center;
    text-align: center;
  }
  .tec-content h1 {
    max-width: 100%;
  }
  .study-content,
  .member-content {
    flex-direction: row;
    max-width: 970px;
  }

  .just-chillin-content {
    flex-direction: row-reverse;
    max-width: 970px;
  }
}
