@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --black: rgb(0, 0, 0);
  --red: rgb(204, 0, 0);
  --gray: rgb(81, 81, 81);
  --light-gray: rgb(248, 248, 248);
  --white: rgb(255, 255, 255);
}
