@import url("reset.css");

header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header-menu,
.header-search,
.header-user {
  display: flex;
  align-items: center;
}

.header-menu .ph-bold {
  font-size: 24px;
  cursor: pointer;
}

.header-menu .ph-bold:hover {
  color: var(--red);
}

.header-menu img {
  max-width: 90px;
  margin-left: 32px;
  border: none;
}

/*esconder o label*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

.header-search {
  margin: 20px 0 0 0;
}
.header-search input {
  width: 100vw;
  height: 46px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--gray);
  padding-left: 20px;
  color: var(--black);
}

.header-search .ph-bold {
  font-size: 24px;
  color: var(--gray);
  height: 46px;
  cursor: pointer;
  background-color: var(--light-gray);
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 0 5px 5px 0;
  border-left-color: transparent;
}
.header-search .ph-bold:hover {
  background-color: var(--gray);
  border: 0 solid var(--black);
  color: var(--light-gray);
  border: 1px solid var(--gray);
}

.header-user {
  display: flex;
  gap: 27px;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
}

.header-user .ph-bold {
  font-size: 24px;
  cursor: pointer;
}

.header-user .ph-bold:hover {
  color: var(--red);
}

.header-user img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.header-user img:hover {
  border: 2px solid var(--gray);
}

main {
  background-color: var(--light-gray);
}
.video-article {
  width: 100vw;
  padding: 16px;
}
.video-article iframe {
  width: 100%;
  aspect-ratio: 16 / 9; /* mantém 16:9 */
}

.video-article h1 {
  font-size: 1.25rem;
  margin-top: 16px;
}

.channel {
  display: flex;
  flex-direction: column;
}
.channel-perfil {
  display: flex;
  gap: 42px;
}

.channel-perfil .channel-dio {
  text-transform: uppercase;
  color: var(--black);
  font-weight: 600;
}
.channel-perfil .channel-dio:hover {
  color: var(--red);
}
.channel-perfil .subscribers {
  color: var(--gray);
}
.channel-perfil .bt-subscribe {
  background-color: var(--red);
  color: var(--white);
  text-transform: uppercase;
  padding: 12px 36px;
  cursor: pointer;
}
.channel-perfil .bt-subscribe:hover {
  background-color: var(--gray);
}

.channel .channel-profile {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.channel-profile img {
  border-radius: 50%;
}

.channel .actions-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  max-width: 580px;
}
.channel .actions-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel .actions-list .ph-bold {
  padding-right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.channel .actions-list .ph-bold:hover {
  color: var(--red);
}

.video-description {
  padding: 16px;
  text-align: justify;
}
.video-description header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 14px;
  padding: 0;
  gap: 25px;
  font-weight: 500;
}
.video-description header h2 {
  font-size: 14px;
}
.video-description .description {
  margin-top: 16px;
}
