@import url("reset.css");

header {
  padding: 16px;
  max-height: 56px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header-menu,
.header-search,
.header-user {
  display: flex;
  align-items: center;
}

.header-menu .ph-bold {
  font-size: 24px;
  cursor: pointer;
}

.header-menu .ph-bold:hover {
  color: var(--red);
}

.header-menu img {
  max-width: 90px;
  margin-left: 32px;
  border: none;
}

/*esconder o label*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

.header-search {
  margin: 16px 0;
}
.header-search input {
  width: 100vw;
  height: 46px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--gray);
  padding-left: 20px;
  color: var(--black);
}

.header-search .ph-bold {
  font-size: 24px;
  color: var(--gray);
  height: 46px;
  cursor: pointer;
  background-color: var(--light-gray);
  padding: 10px;
  border: 1px solid var(--gray);
  border-radius: 0 5px 5px 0;
  border-left-color: transparent;
}
.header-search .ph-bold:hover {
  background-color: var(--gray);
  border: 0 solid var(--black);
  color: var(--light-gray);
  border: 1px solid var(--gray);
}

.header-user {
  display: flex;
  gap: 27px;
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
}

.header-user .ph-bold {
  font-size: 24px;
  cursor: pointer;
}

.header-user .ph-bold:hover {
  color: var(--red);
}

.header-user img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.header-user img:hover {
  border: 2px solid var(--gray);
}
