* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cascadia Code", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  margin: 20px auto;
  font-size: 3rem;
  max-width: 550px;
}

header p {
  max-width: 400px;
  font-size: 1.2rem;
  margin: 20px auto;
}

header nav ul {
  display: flex;
  list-style: none;
}

main.container {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: row;
}

article {
  min-height: 300px;
  margin: 40px auto;
}

article h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
aside {
  top: 0;
  width: 28%;
  position: fixed;
  height: 100vh;
  background: rgb(216, 218, 218);
  padding: 10px 10px;
  overflow-y: scroll;
}

aside nav {
  margin: 20px 0;
}

aside nav ul li {
  margin-top: 10px;
  padding: 5px;
}

aside nav a {
  display: block;
  color: black;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
  padding: 5px;
}

aside nav li:hover {
  background: rgb(112, 112, 112);
  width: 100%;
  border-radius: 3px;
  border-left: 6px solid black;
  left: -2px;
  transition: 0.3s ease-in;
}
aside nav li:hover a {
  color: white !important;
}

header,
.content,
footer {
  margin-left: 28%;
  width: 68%;
}

section article {
  padding: 30px;
  background: #eeeeee;
  margin: 10px 10px 0 80px;
  width: calc(100% -10px);
  border-radius: 5px;
}

footer {
  padding: 10px;
  text-align: center;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer li a {
  background-color: black;
  padding: 2px;
  color: white;
}

footer li a:hover {
  background-color: rgb(141, 139, 139);
  padding: 2px;
  color: black;
}

.voltar {
  position: fixed;
  right: 3px;
  bottom: 10px;
  background: rgb(154, 197, 154);
  border-radius: 4px;
  padding: 5px;
  z-index: 3;
  color: black;
}

.voltar:hover {
  background: rgb(37, 59, 37);
  cursor: pointer;
  color: white;
}
