* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(8, 8, 41);
  padding: 20px;
  text-align: center;
  width: 100%;
}
header h1 {
  text-transform: uppercase;
  color: rgb(193, 206, 201);
}
main {
  padding: 20px;
  max-width: 450px;
  margin: 0 auto;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 400px;
}

.container input {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(212, 212, 212);
  margin: 10px 0 10px 0;
}

.container button {
  background-color: rgb(8, 8, 41);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.container button:hover {
  background-color: rgb(23, 23, 102);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.heroi p {
  width: 400px;
  margin: 20px auto;
  background-color: rgb(212, 212, 212);
  padding: 10px;
  color: rgb(23, 23, 102);
  font-weight: bold;
  border-radius: 5px;
}

footer {
  background-color: rgb(212, 212, 212);
  padding: 10px;
  text-align: center;
}

footer h1 {
  color: rgb(23, 23, 102);
  text-transform: uppercase;
}

footer ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
}

footer li {
  margin: 10px;
  list-style: none;
  color: rgb(8, 8, 41);
}
